<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <setting name="logImpl" value="SLF4J"/>
    </settings>

    <!-- 扫描包内的bean自动注册别名,如果没有注解的情况下,别名默认为首字母小写 -->
    <typeAliases>
        <package name="com.zhuyizhuo.java.mybatis.bean"/>
    </typeAliases>

    <!-- 除非显式的设置，否则TypeHandler在ResultMap中将是无效的。
        如果希望在ResultMap中使用TypeHandler，那么设置@MappedJdbcTypes注解的includeNullJdbcType=true即可。
         然而从Mybatis 3.4.0开始，如果只有一个注册的TypeHandler来处理Java类型，
         那么它将是ResultMap使用Java类型时的默认值（即使没有includeNullJdbcType=true）
          打开此段注释 验证只有一个注册的TypeHandler时 ResultMap不显式设置也会使用TypeHandler  -->
   <!-- <typeHandlers>
        <package name="com.zhuyizhuo.java.mybatis.handler"/>
    </typeHandlers>-->

  <!--  <plugins>
        &lt;!&ndash;  分页插件 &ndash;&gt;
        <plugin interceptor="com.github.pagehelper.PageInterceptor">
        </plugin>

        &lt;!&ndash; 自定义插件 &ndash;&gt;
        <plugin interceptor="com.zhuyizhuo.java.mybatis.plugins.ExecutorPlugin"></plugin>
        <plugin interceptor="com.zhuyizhuo.java.mybatis.plugins.ExecutorQueryPlugin"></plugin>
        <plugin interceptor="com.zhuyizhuo.java.mybatis.plugins.ParameterHandlerPlugin"></plugin>
        <plugin interceptor="com.zhuyizhuo.java.mybatis.plugins.ParameterHandlerPlugin1"></plugin>
        <plugin interceptor="com.zhuyizhuo.java.mybatis.plugins.ResultSetHandlerPlugin"></plugin>
        <plugin interceptor="com.zhuyizhuo.java.mybatis.plugins.StatementHandlerPlugin"></plugin>
    </plugins>-->

    <!-- 数据库连接 -->
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/simple-mybatis?useUnicode=true&amp;
                characterEncoding=utf-8&amp;useSSL=false&amp;useJDBCCompliantTimezoneShift=true&amp;
                useLegacyDatetimeCode=false&amp;serverTimezone=Asia/Shanghai"/>
                <property name="username" value="root"/>
                <property name="password" value="Zhuo3.2"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="xml/UserMapper.xml"/>
        <mapper resource="xml/OrderMapper.xml"/>
    </mappers>

</configuration>
