<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhuyizhuo.java.mybatis.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.zhuyizhuo.java.mybatis.bean.UserBean">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" typeHandler="com.zhuyizhuo.java.mybatis.handler.TypeHandler"/>
    <result column="age" jdbcType="VARCHAR" property="age" />
  </resultMap>

  <select id="selectByExample" resultMap="BaseResultMap">
   select t.id,t.name,t.age from simple_mybatis t
  </select>

  <insert id="testInsert" parameterType="com.zhuyizhuo.java.mybatis.bean.UserBean" useGeneratedKeys="true" keyProperty="id">
    insert into simple_mybatis (id, name,age) values (
    #{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR,typeHandler=com.zhuyizhuo.java.mybatis.handler.TypeHandler},#{age,jdbcType=VARCHAR}
    )
  </insert>
</mapper>